* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Plain Light";
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
}

/* cursor ................................................................. */
#cursor {
    height: 3vw;
    width: 3vw;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;

}

/* loader div ..............................................................*/
#loader {
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 1;
    padding: 14vh 5vw;
}

#loader .line {
    height: fit-content;
    /* 16vh - for future use*/
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 2.5vw;
    font-weight: 100;
    font-family: 'Silk Serif';
    padding-bottom: 3vh;
}

#line1-part1 h5 {
    /* background-color: red; */
    width: 4vw;
    text-align: right;
}

#loader .line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-family: 'Plain Light';
    /* font-weight: 500; */
    height: 7.5vw;
    /* background-color: #fff; */
}

/* .line h5{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 500;
} */

#now {
    /* animation-name: nowAnimation; */
    animation-duration: 3s;
    /* animation-timing-function: ease-in-out; */
    animation-iteration-count: infinite;
}

@keyframes nowAnimation {
    0% {
        font-family: 'Silk Serif';
        -webkit-text-stroke: 1px #ffffff;
        color: transparent;
        font-weight: 100;
    }

    33% {
        font-family: 'Plain light';
        -webkit-text-stroke: 1px #ffffff;
        color: #ffffff;
        font-weight: 100;
    }

    66% {
        font-family: 'Silk Serif';
        -webkit-text-stroke: 1px #ffffff;
        color: transparent;
        font-weight: 100;
    }

    100% {
        font-family: 'Plain light';
        -webkit-text-stroke: 1px #ffffff;
        color: #ffffff;
        font-weight: 100;
    }
}

#message {
    font-size: 2vh;
    position: absolute;
    left: 25%;
    top: 75%;
}

/* Main Div ...............................................................*/
#main {
    position: relative;
    background-color: #151515;
}


/* Page One ............................................................. */
#page1 {
    min-height: 100vh;
    width: 100%;
    /* overflow-x: hidden; */
}

/* navigation bar/div */
#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vh 5vw;
}

#page1 #nav #nav-part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
}

#page1 #nav #nav-part1 i {
    font-weight: 100;
    font-size: 1vw;
}

#page1 #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
}

#page1 #nav #nav-part2 h4 {
    font-size: 1vw;
    font-weight: 100;
}

/* Page one content part 1*/

#content-part1 {
    /* background-color: red; */
    padding-left: 28vw;
    padding-top: 16vh;
    height: fit-content;
    position: relative;
}

#content-part1::before{
    content:"01";
    position: absolute;
    left: 18%;
    top: 18%;
    font-size: 3vw;
    font-family: "Silk Serif";
}

.hero {
    overflow: hidden;
}

.hero h1 {
    font-family: 'Plain Regular';
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    font-weight: 500;
}

#hero3 {
    display: flex;
    gap: 0.2vw;
    transition: all ease 0.3s;
}

#hero3 h1:nth-child(1),
#hero3 h1:nth-child(3) {
    text-decoration: underline;
}

#hero3 h1:nth-child(1):hover,
#hero3 h1:nth-child(3):hover {
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    text-decoration: none;
}


/* Page One content part2 */
#content-part2 {
    height: 100vh;
    width: 100%;
    position: relative;
}


#video-container {
    height: 84vh;
    width: 71vw;
    position: relative;
    left: 28%;
    padding-top: 10vh;
    /* background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg); */
}

#video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* top: 0; */
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor {
    height: 10vw;
    width: 10vw;
    background-color: #FFA63D;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -1%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-cursor i {
    font-size: 2.5vw;
}

/* Page Two ......................................................................... */
#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#heading-page2::before{
    content:"02";
    position: absolute;
    left: 18%;
    top: 1%;
    font-size: 3vw;
    font-family: "Silk Serif";
}

/* Page Three ........................................................................*/

#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* common for page2,3,4 heading, h1 and line (down)*/
.heading{
    /* background-color: aqua; */
    width: 100%;
    height: 8vw;
    padding-left: 28%;
    margin-bottom: 12vh;
}
#heading-page3::before{
    content:"03";
    position: absolute;
    left: 18%;
    top: 1%;
    font-size: 3vw;
    font-family: "Silk Serif";
}

.heading h1{
    font-size: 7vw;
    text-transform: uppercase;
}

.line{
    height: 1px;
    width: 68%;
    background-color: #ffffff;
    margin-left: 28%;
}
/* common for page2,3,4 heading, h1 and line (up) */

/* page 3 part1 content */
#page3-part1{
    /* background-color: crimson; */
    margin-top: 8vh;
}

/* page 3 part1 first para  */
#page3-part1 #part1-para{
    /* background-color: aqua; */
    padding-left: 28%;
    height: 45vh;
}

#page3-part1 #part1-para p{
    width: 50%;
    font-size: 5vh;
    line-height: 6vh;
}

/* page 3 part 1 flex box */

#page3-part1 #part1-flex{
    /* background-color: aqua; */
    display: flex;
    gap: 2vw;
    padding-left: 28%;
    margin-top: 5vh;
}

#page3-part1 #part1-flex img{
    height: 90vh;
    width: 70%;
}

#page3-part1 #part1-flex p{
    width: 50%;
    font-size: 2.2vh;
}

/* page 3 part 1 blue box */

#page3-part1 #part1-blue{
    background-color: #3F7DF4;
    height: 90vh;
    width: 34%;
    padding: 10vh 3vw;
    position: relative;
    left: 50%;
    /* top: -50%; */
    transform: translate(2.5%, -35%);
}

#page3-part1 #part1-blue .element{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 4vw;
    border-bottom: 1px solid #ffffff8f;
    padding-bottom: 2.1vw;
    margin-bottom: 2.1vw;
}

#page3-part1 #part1-blue .element h4{
    font-size: 4vh;
    font-weight: 500;
    /* width: 70%; */
}
#page3-part1 #part1-blue .element h6{
    font-size: 2vh;
    font-weight: 100;
    width: 30%;
}

/* line below blue box */
#below-blue{
    margin-top: -10vh;
}
/* page 3 part 2 */

#page3-part2{
    /* background-color: aqua; */
    padding-left: 28%;
    margin-top: 4vh;
    margin-bottom: 15vh;
}
#page3-part2 h6{
    font-size: 2.2vh;
    font-weight: 100;
}

/* page 3  part3 sliding animation*/

#page3-part3{
    /* background-color: aqua; */
    height: fit-content;
    width: 100%;
    /* position: relative; */
    margin-bottom: 20vh;
}

#page3-part3 .sliding-elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    /* margin-bottom: 0.8vw; */
}

#page3-part3 .sliding-elem h1{
    /* background-color: red; */
    font-size: 7vw;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    /* margin-right: -4px; */
    animation-name: banner;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes banner {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }

}


#page3-part3 .sliding-elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    /* margin-bottom: 0.8vw; */
}

#page3-part3 .sliding-elem2 h1{
    /* background-color: red; */
    font-size: 7vw;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(calc(-100% -4px));
    /* margin-right: -4px; */
    animation-name: banner;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
/* This has to be fixed  */
#page3-part3 .sliding-elem h1 span, #page3-part3 .sliding-elem2 h1 span{
    font-family: 'Silk Serif';
    font-weight: 100;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
}

/* Page Four Footer */

#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

#heading-footer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1vw;
    position: relative;
}

#heading-footer::before{
    content:"04";
    position: absolute;
    left: 18%;
    top: 1%;
    font-size: 3vw;
    font-family: "Silk Serif";
}

#heading-footer i{
    font-size: 7vw;
    -webkit-text-stroke: 1px #ffffff ;
    color: transparent;
    font-weight: 100;
}
#heading-footer h1:hover{
    font-family: 'Silk Serif';
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    font-weight: 100;
}

/* page four footer content below */
#footer-content{
    /* background-color: aqua; */
    padding-left: 28%;
    padding-right: 12%;
    padding-top: 15vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15vh;
}

#box1{
    margin-right: 5vw;
}

#footer-content .box h6{
    font-size: 1vw;
    margin-bottom: 5vh;
    font-weight: 600;
}

#footer-content .box h5{
    font-size: 1.5vw;
    font-weight: 100;
}

#box3 h5{
    text-decoration: underline;
}

#footer-end{
    padding-left: 28%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#footer-end h6{
    font-size: 1vw;
    font-weight: 200;
}
